@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');


*{
    margin: 0;
    padding: 0;
}


.main, .header {
	margin: 0 auto;
}


ul.menu li a, h2, .buttonGet, .footerText {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	font-style: normal;
}


h2, .text, .footerText {
	color: #373737;
}
	



.main {
    width: 1280px;
}


.header {
    width: 647px;
    height: 81px;
}


ul.menu {
    list-style: none;
}


ul.menu li a {
	font-size: 18px;
    color: #FF0000;
    text-decoration: none;
	letter-spacing: 2.7px;
	text-transform: uppercase;
}


li {
    padding: 30px 25px;
    float: left;
}


h2 {
	width: 774px;
	padding-left: 253px;
	font-size: 22px;
	padding-top: 48px;
	padding-bottom: 34px;
	letter-spacing: 3.3px;
	text-transform: uppercase;
}


.image {
    height: 790px;
    width: 1280px;
    background-image: url(../img/img.png);
}


.text {
    margin: 0;
    padding-bottom: 115px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 2.4px;
	}


.buttonGet {
    width: 192px;
    height: 51px;
	margin: 45px auto 5px auto;
    background-color: #FF0000;
    border-radius: 4px;
	font-size: 12px;
	line-height: 12px;
	align-items: center;
	letter-spacing: 1.8px;
	color: #FFFFFF;
    text-align: center;
    padding: 13px;
	text-transform: uppercase;
}


.mainText {
    text-align: center;
    padding-left: 110px;
    padding-right: 110px;
	padding-bottom: 25px;
}


.footerText {
    text-align: right;
    padding-bottom: 47px;
    padding-right: 110px;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
}